.bp{
    background-color:#c0d1ce;
}
.App-logo:hover{
    border-image: repeating-linear-gradient(135deg,#F8CA00 0 10px,#E97F02 0 20px,#BD1550 0 30px) 8;
}
.App-logo{
    position: relative;
    float: left;
    width:  250px;
    height: 125px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
.li-in{
    display: flex;
    list-style-type: none;
}